*~
__pycache__
\#*\#
core.*
*maybe*

# plot files
*.html
*png
*.pdf
*.mkv

*tmp
*.nc
*.nc.*
*.ESMF_LogFile
old
*.fort

# cython files
build/
*.c
*.so
debug
*.mp4
*.gif
/tjob.*

dist/

htmlcov/

# Doc dir
html/
/xemc3.egg-info/PKG-INFO
/xemc3/_version.py
/xemc3/test/test/
/xemc3.egg-info
/versions-manifest.json
/.coverage
/.eggs
/.hypothesis/
/.coverage.*
/xemc3/test/testdata
examples/.ipynb_checkpoints/
example-data
/docs/examples/.ipynb_checkpoints
